apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ control_plane_endpoint }}:6443"
    token: "{{ kube_token }}"
    caCertHashes:
    - "{{ kube_hash }}"

