apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
certificateKey: {{ kube_cert }}
bootstrapTokens:
  - token: {{ kube_token }}

---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
clusterName: {{ cluster_name }}
apiServer:
  extraArgs:
    advertise-address: {{ api_server_ip }}
  certSANs:
  - {{ api_server_ip }}
  - {{ control_plane_endpoint }}
networking:
  serviceSubnet: {{ service_cidr }}
{% if cni_plugin == 'flannel' %}
  podSubnet: 10.244.0.0/16
{% else %}
  podSubnet: {{ pod_cidr }}
{% endif %}
controlPlaneEndpoint: {{ control_plane_endpoint }}

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
